.nav-bar,
.nav-bar .logo {
  align-items: center;
  display: flex;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", Arial, "sans-serif";
}
body,
html {
  height: 100%;
  width: 100%;
}
.main-container {
  background-color: #000;
  height: auto;
  width: 100%;
}
.nav-bar {
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  color: #fff;
  justify-content: space-between;
  height: 60px;
  width: 100%;
}
.nav-bar .logo {
  cursor: pointer;
  font-size: 1.8rem;
  font-family: "Abril Fatface", serif;
  height: 100%;
  padding-inline: 2rem;
  justify-content: center;
}
.nav-bar .nav-list {
  cursor: pointer;
  display: flex;
  height: 100%;
  width: 85%;
  padding-right: 1rem;
}
.nav-bar .nav-list .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  width: 100%;
  height: 100%;
}
.nav-bar .nav-list .nav-item a {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
}
.nav-bar .nav-list .nav-item a:hover {
  color: #ff6ec4;
}
.nav-bar .nav-list .nav-toggle {
  height: 100%;
  padding-inline: 2rem;
  display: none;
}
.nav-bar .nav-list .nav-toggle a svg {
  width: 25px;
  height: 25px;
  color: #fff;
}
@media (max-width: 1000px) {
  .nav-bar .nav-list {
    justify-content: end;
    align-items: center;
    padding-right: 0;
  }
  .nav-bar .nav-list .nav-item {
    display: none;
  }
  .nav-bar .nav-list .nav-toggle {
    display: flex;
    align-items: center;
  }
  .nav-bar .logo {
    font-size: 1.5rem;
    padding-inline: 1.5rem;
  }
}
.section-title {
  border-block: 2px solid #fff;
  color: #fff;
  font-size: clamp(1.5rem, 2vw + 1.4rem, 2.8rem);
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  padding-block: 0.2rem;
  text-align: center;
  word-spacing: 4px;
  width: 100%;
}
.hero-section {
  position: relative;
  padding: 1.5rem;
  height: calc(100vh - 60px);
  width: 100%;
}
.hero-section .hero-video-container {
  position: relative;
  height: 100%;
  width: 100%;
}
.hero-video-container .hero-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1;
}
.latest-trends-section,
.top-model-section {
  margin-top: 2rem;
  width: 100%;
}
.top-model-image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-block: 3rem;
  padding-inline: 1rem;
  gap: 2rem;
  width: 100%;
  height: 100%;
}
.top-model-image-container .model-image {
  border-radius: 50%;
  background: linear-gradient(white, #fff) padding-box,
    linear-gradient(45deg, #ff6ec4, #7873f5) border-box;
  border: 8px solid transparent;
  object-fit: cover;
  object-position: top;
  width: 250px;
  height: 250px;
}
.top-model-section .model-image:hover {
  filter: drop-shadow(0px 0px 30px rgb(235, 133, 228));
}
.latest-trends--cards-container {
  color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding-block: 2.5rem;
  padding-inline: 1rem;
  width: 100%;
  justify-content: center;
}
.latest-trends--cards {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  padding-inline: 1.5rem;
  padding-block: 1rem;
  height: 300px;
  width: 100%;
}
.LT-cards-heading {
  font-size: 2rem;
  font-weight: 400;
}
.LT-para {
  margin-top: 1rem;
  line-height: 1.8;
}
.animated-text-container {
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}
.animated-text-container .animated-text {
  display: inline-block;
  font-size: 4rem;
  text-transform: uppercase;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 2px;
  color: transparent;
  font-weight: 900;
  letter-spacing: 2px;
  margin-right: 20px;
  animation-name: moveText;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes moveText {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 24px));
  }
}
@media (max-width: 625px) {
  .animated-text-container .animated-text {
    font-size: 2.5rem;
  }
}
.showcase-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 1rem;
  gap: 1rem;
  width: 100%;
}
.showcase-container .showcase-grid {
  height: 300px;
  width: 100%;
  position: relative;
}
.showcase-container .showcase-grid .showcase-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.events-section {
  width: 100%;
  margin-top: 2.5rem;
}
.events {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  padding-block: 4rem;
  padding-inline: 1rem;
}
.events-information {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 300px;
  animation: 2s ease-in-out infinite float;
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
.event-day--date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 0.2rem;
  background-color: #2c3539;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 70px;
}
.event-day--date .Event-date {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}
.event-day--date .Event-day {
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: #fff;
}
.event-name {
  font-size: 1.4rem;
  color: #fff;
  text-align: start;
}
@media (max-width: 525px) {
  .event-day--date .Event-date {
    font-size: 1.5rem;
  }
  .event-day--date .Event-day {
    font-size: 1rem;
  }
  .event-name {
    font-size: 1.2rem;
  }
}
.FB-videos-sections {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  width: 100%;
  margin-block: 1rem;
}
.FB-videos-sections .FB-video {
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-radius: 20px;
}
.contact-container .left-contact-container,
.contact-container .right-contact-container {
  width: 50%;
  padding-block: 2rem;
  padding-inline: 2rem;
}
.contact-container {
  width: 100%;
  margin-top: 2rem;
  display: flex;
}
.contact-container .left-contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.left-contact-container .contact-title {
  font-size: clamp(1.5rem, 2vw + 1.4rem, 2.8rem);
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  color: #ff6ec4;
  letter-spacing: 2px;
}
.left-contact-container .contact-para {
  font-size: 1.2rem;
  margin-top: 1rem;
  text-align: start;
  color: #fff;
  line-height: 2;
}
.right-contact-container .contact-form {
  width: 100%;
  font-weight: 500;
}
.contact-form .contact-field {
  width: 100%;
  padding: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.1);
  transition: 0.3s ease-in-out;
  margin-top: 1rem;
  color: #fff;
}
.contact-field:focus {
  border-color: #ff6ec4;
  outline: 0;
  box-shadow: 0 0 8px #ff6ec4;
}
textarea.contact-field {
  min-height: 120px;
  resize: vertical;
}
.contact-button {
  padding-block: 1rem;
  margin-top: 2rem;
  width: 40%;
  font-size: 18px;
  background: #8f8dc3;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}
@media (max-width: 1100px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .contact-container .left-contact-container {
    width: 100%;
  }
  .contact-container .right-contact-container {
    width: 100%;
    padding-block: 0;
  }
  .left-contact-container .contact-para {
    font-size: 1rem;
  }
}
.footer {
  margin-top: 2rem;
  background-color: #111;
  padding: 1.5rem;
}
.footer h5 {
  color: #fff;
  text-align: center;
  font-weight: 400;
  opacity: 0.8;
  font-size: 1rem;
}
